* {
  box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='437'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
.annual-plan {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

h1 {
  font-size: 1.375rem;
  margin: 2em 2em 1em;
}

p,
.price,
.cancel-link {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

p {
  line-height: 25px;
  margin: 0 2em 1.5em;
}

.container {
  width: 327px;
  height: 567px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 20px 25px hsl(224, 80%, 84%);
}

.top-section {
  height: 160px;
}

.main-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom-section {
  height: 407px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-container {
  background-color: hsl(225, 100%, 98%);
  width: 279px;
  height: 81px;
  border-radius: 10px;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
}

.plan-logo {
  margin-left: 1em;
}

.plan {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
  margin-right: 3.125em;
}

.change-link {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.8125em;
}

.payment-btn {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  text-decoration: none;
  width: 279px;
  height: 50px;
  padding: 15px 30px;
  margin-bottom: 1.5em;
  border-radius: 10px;
  box-shadow: 0 16px 20px hsla(245, 95%, 76%, 0.503);
}

.payment-btn,
.cancel-link,
p {
  font-size: 0.9375rem;
}

.cancel-link {
  font-weight: 700;
}

.change-link:hover,
.cancel-link:hover,
.payment-btn:hover {
  cursor: pointer;
}

.payment-btn:hover {
  background-color: hsl(245, 76%, 68%);
}

.change-link:hover {
  text-decoration: none;
  color: hsl(245, 76%, 68%);
}

.cancel-link:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 45em) {
  .container {
    width: 450px;
    height: 697px;
  }

  .top-section {
    height: 220px;
  }

  .main-img {
    width: 100%;
    height: 220px;
  }

  .bottom-section {
    height: 477px;
  }
}
